html{
    background-color: black;
}    
body{
    background-color: black;
}    
body {
    background-color: black;
    color: white;
    min-width: 425px;
}
    
.jumbotron{
    background-image: url(../images/jumbo.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -235px;
    color: white;
    border-bottom: 2px solid #ff0000c7;
    background-color: black;
    font-family: 'Passion One', sans-serif;
    color: white;
}    

#get-info{
    border: 5px solid grey;
    border-left: 5px solid darkgrey;
    border-right: 5px solid darkgrey;
}
#get-info:hover{
    box-shadow: 0px 0px 50px 7px;
}

.ebayRow{
    border-radius: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px grey;
}   

.img-thumbnail {
    padding: .35rem !important;
}    

.active {
    background-color: rgb(66, 115, 171);
}

.modal-title {
    color: red;
}

.modal-body {
    color: red;
}

.card-body {
    background-color: black;
}

.card-header {
    background-color: red;
}

.img-thumbnail {
    padding: .35rem !important;
}

.active {
    background-color: rgb(66, 115, 171);
}

@media screen and (max-width: 1200px) {
    /* LARGE */
    .ebayComicRow{
        height: 225px !important;
    }
}

@media screen and (max-width: 991px) {
   /* MEDIUM */
   .ebayComicRow{
        height: 275px !important;
   }
   .ebayCharacterRow{
        height: 400px !important;
    }
}

@media screen and (max-width: 767px) {
   /* SMALL */
   .ebayComicRow{
    height: 325px !important;
    }
    .ebayCharacterRow{
    height: 500px !important;
    }
}

@media screen and (max-width: 575px) {
   /* EXTRA SMALL */
   .ebayComicRow{
    height: 350px !important;
}
.ebayCharacterRow{
    height: 450px !important;
    }
}